<header class="site-header">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <div class="inner-wide">

        {% if site.logo %}
        <p class="site-logo">
            <a href="{{ site.baseurl }}/.." rel="home">
                <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}" />
            </a>
        </p>
        {% endif %}
        
        {% if page.url == '/' %}
        <h1 class="site-title">
            <a href="{{ site.baseurl }}/" rel="home">{{site.name}}</a>
        </h1>
        {% else %}
        <p class="site-title">
            <a href="{{ site.baseurl }}/">{{site.name}}</a>
        </p>
        {% endif %}

        <nav class="site-navigation" aria-label="Main Menu">
            <h2 class="screen-reader-text">Explore Website</h2>
            <ul class="menu">
                {% for link in site.navigation %}
                <li class="menu-item" role="presentation">
                    <a href="{{ link.url }}">{{ link.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <a class="search-toggle" href="#">
            <span class="screen-reader-text">Search</span>
            <span class="icon-search" aria-hidden="true"></span>
        </a>

        <a class="sidebar-toggle" href="#">
            <span class="screen-reader-text">Open Sidebar</span>
            <span class="icon-nav-custom" aria-hidden="true"></span>
        </a>
        
    </div><!-- .inner-wide -->
</header><!-- .site-header -->
